<script type="text/javascript">
  jQuery(function(){
    Tempalias.setSpy();
  });
  if (pageTracker)
    pageTracker._trackPageview("/about");
</script>
<ul id="topnav">
  <li><a href="#!/form">Generate Alias</a></li>
  <li><a href="#!/about">About</a></li>
  <li><a href="#!/privacy">Privacy</a></li>
</ul>
<h2>tempalias provides temporary, anonymous email addresses</h2>
<p>Ever wanted to sign up for any kind of online service or community
without providing your real email address, for example because you
don't want to get spammed? tempalias helps you out by providing
temporary, anonymous email addresses, also called "aliases". Any message
sent to the tempalias address will be forwarded anonymously to your real
email address. You can set a maximum number of days or messages for which
the tempalias will be valid. When either limit has been reached, your
temporary address will automatically be deleted (Read
<a href="#/privacy">privacy</a> for details).</p>

<h2>No registration, no cost and no ads</h2>
<p>Unlike other, similiar services out there, tempalias doesn't require you to
create an account or provide any personal information (other than your
real email address, of course). Also, the service is completely cost and
advertisment free.</p>

<h2>Background and tech stuff</h2>
<p>tempalias is a grown-up proof of concept showing that it is possible
to easily write both a web server and an email server in JavaScript
using node.js. It has initially been written by
<a href="mailto:pilif@gnegg.ch">Philip Hofstetter</a>
(<a href="http://twitter.com/pilif">@pilif</a>) based on
<a href="http://www.pilif.ch/stuff/adaddr/index.php">an idea from the
year 2002</a>. All the public facing design you see has been done by
<a href="mailto:richard@richardhaydon.com">Richard Haydon</a>. Professionally, 
Richard is a photographer, so if you are looking for one, consider
<a href="">his services</a>.</p>

<p>If you want to see how tempalias is done or if you want to run a
comparable service yourself, the tempalias.com codebase is avilable
licensed under the MIT license at
<a href="http://github.com/pilif/tempalias">http://github.com/pilif/tempalias</a></p>

<p>If you want to learn how Philip went from "no idea about asynchronous
programming with node" to "completed tempalias.com", have a look at a
series of blogposts about the topic. The best way to start would be to have a
look at the official announcment:
<a href="http://www.gnegg.ch/2010/04/announcing-tempalias-com/">http://www.gnegg.ch/2010/04/announcing-tempalias-com/</a>
</p>
