<h2>Error</h2>
<p>It looks as if the server wasn't able to process your request. We're really
sorry. Here's what we know about the problem:</p>

<div id="errinfo">
<table>
    <tr>
        <th>HTTP Code</th>
        <td><%= error.code %></td>
    </tr>
    <tr>
        <th>Error-Type</th>
        <td><%= error.error %></td>
    </tr>
    <tr>
        <th>Error-Description</th>
        <td><%= error.description %></td>
    </tr>
</table>

<a id="tryagain" href="#!/form">Try again</a>
</div>
