<script type="text/javascript">
  jQuery(function(){
    Tempalias.setSpy();
  });
  if (pageTracker)
    pageTracker._trackPageview("/plugins");
</script>
<ul id="topnav">
  <li><a href="#!/form">Generate Alias</a></li>
  <li><a href="#!/plugins">Browser Plugins</a></li>  
  <li><a href="#!/about">About</a></li>
  <li><a href="#!/privacy">Privacy</a></li>
  <li><a href="http://www.gnegg.ch/tag/tempalias/">Blog</a></li>
</ul>
<h2>bookmarklet</h2>
<p>The bookrmarklet will work in any browser. Just generate any alias with any 
configuration you like. On the screen that's showing your alias, just drag
the generated bookmarklet to your bookmarks bar.</p>

<p>Whenever you need a temporary alias in the future, visit the page you want and 
click your bookmarklet button. Then, hover any input field on the target page. As you
do this, the possible fields will be highlighted in green.</p>

<p>When you are happy, press the left mouse button and an alias 
will be generated for you and automatically inserted into the highlighted
field.</p>

<h2>Google Chrome extension</h2>
<p>For users of Google Chrome, <a href="http://scribblepadofdoom.tumblr.com/">Kit Sunde</a> 
has created a Chrome Extension which does the same thing as the bookmarklet.</p>
<p><a href="https://chrome.google.com/extensions/detail/aehiejcjjljbfgfaioacdmeiphbcojod">Install
the extension</a> and you will be prompted for your alias settings.</p>
<p>Afterwards, whenever you need an alias, right click any input field and select
"Generate email".</p>
<p>The alias will be inserted into the selected field.</p>
<p>Thanks a lot to Kit for his contribution.</p>