<script type="text/javascript">
  jQuery(function(){
    Tempalias.setSpy('secretive');
  });
  if (pageTracker)
    pageTracker._trackPageview("/privacy");
</script>
<ul id="topnav">
  <li><a href="#!/form">Generate Alias</a></li>
  <li><a href="#!/about">About</a></li>
  <li><a href="#!/privacy">Privacy</a></li>
  <li><a href="http://www.gnegg.ch/tag/tempalias/">Blog</a></li>
</ul>
<h2>What we do</h2>

<p>We store the information you provide when creating the alias so we can
  redirect mail sent to that alias and expire it as needed.</p>

<p>We use the Google Analytics service to get an idea how the website is being
  used and how much it's accessed.</p>

<p>All mail sent to us will be forwarded to a smart host which will log the
  target address but no other information contained in the alias (it can't -
  that information was lost already when it sees the email).</p>

<p>We will store the settings you last used to
  create an alias in a cookie, so we can preset those when you visit our
  site again.</p>

<p>We cannot delete an expired alias the moment it expires, but it's guaranteed
   to be impossible for an email to be delivered to an expired alias - even under
   highly concurrent stress.
</p>
<p>We prune expired aliases every 30 minutes. This process is irreversible.</p>
<p>We keep a list of every alias ever generated as to make sure that nobody else gets an alias
   that was previously generated for you. All other information stored with the alias
   (besides its name) is deleted on expiration though.</p>

<h2>What we don't do</h2>
<p>We don't log the emails content.</p>
<p>We don't log alias resolutions and their state.</p>
<p>We will never use the target address you provided for anything other
  than to relay mail to it within the validity settings you have chosen.
  We will never send any email out that is not in the context of
  an alias resolution.</p>
<p>We don't associate any information gathered by Google Analytics with any
  email alias the website visit generated.</p>

<p>We hope that these statements clearly show our intentions. If you have
  a concern about something we have forgotten to list above, please contact
  us at <a href="mailto:pilif@gnegg.ch">pilif@gnegg.ch</a>. If you are capable
  of reading JavaScript code, you can have a look at the code that's running
  tempalias.com on
  <a href="http://github.com/pilif/tempalias">http://github.com/pilif/tempalias</a>.</p>
