html{
    height: 100%;
    margin: 0;
    padding: 0;
}

a{
  text-decoration: none;
}
a:link, a:hover, a:active{
  color: #08417b;
}
a:visited{
  color: #a4a4a4;
}

body {
    height: 100%;
    background: #f0f0f0 url('../images/bgc.png') bottom  repeat-x;
    background-attachment: fixed;
    margin: 0 0 0 -65px;
    padding: 0;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Times', sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #353535;
}

#spy{
  padding-bottom: 32px;
}

#spy.default{
  padding-left: 65px;
  background: transparent url('../images/spy_default.png') left bottom  no-repeat;
}

#spy.happy{
  padding-left: 98px;
  background: transparent url('../images/spy_happy.png') left bottom  no-repeat;
}

#spy.secretive{
  padding-left: 71px;
  background: transparent url('../images/spy_secretive.png') left bottom  no-repeat;
}


#page-container{
  margin: 90px auto 0 auto;
  width: 692px;
  background: transparent url('../images/frame_reflection.png') 63px bottom no-repeat;
  padding-bottom: 32px; /* image.height - #spy.paddingBottom */
}



#page{
  background: white;
  border-radius: 12px;
  padding: 50px;
  min-height: 450px;

  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
}

#page h1{
  color: white;
  height: 62px;
  background: #fff url('../images/logo.png') no-repeat;
  text-indent: -999px;
  margin: 0 0 35px 0;
}

#page h2{
  font-size: 1em;
  font-weight: bold;
  margin-top: 15px;
}

#page p{
  margin: 0 0 23px 0;
}

#page span.sidenote{
  font-size: 0.8em;
}
#generate-form{
  background: url('../images/bgform.png') 0 0 repeat-x;
  height: 123px; /* image height - 2xpadding */
  border-radius: 12px;
  padding: 25px;

  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
}

#generate-form table th{
  font-weight: normal;
  text-align: left;
}

#playground{
  min-height: 270px;
}

#generate-form table th, #generate-form table td {
  padding-bottom: 15px;
}

#generate-form input{
  font-weight: bold;
  font-size: 14px;
  padding: 2px;
}

#generate-form button{
  margin: 0;
  border: 0;
  border-radius: 4px;
  padding: 5px 20px 5px 20px;
  float: right;
  background: url('../images/bgbtn.png') repeat-x;
  height: 30px;
  color: white;
  font-weight: normal;
  font-size: 16px;
}

#generate-form #error{
  margin-top: 4px;
  float: left;
  font-size: 0.9em;
  color: red;
  display: none;
}

#target_selection input{
  width: 100%;
}

#validity_selection input{
  text-align: right;
  width: 20px;
}

#footer{
  margin: 66px 0 0 0 ;
}

#footer ul, #playground ul#topnav{
  margin: 0;
  padding: 0;
  text-align: right;
  list-style: none;
}

#footer ul li, #playground ul#topnav li{
  display: inline;
  margin-left: 18px;
}

#playground ul#topnav {
  border-bottom: 1px solid #d3d3d3;
  margin-bottom: 40px;
  padding-bottom: 20px;
}

#footer p{
  line-height: normal;
  font-size: 14px;
  margin: 11px 0 0 0;
  padding: 11px 0 0 0;
  border-top: 1px solid #d3d3d3;
  color: #d3d3d3;
}
